.img {
    height: 100vh;
    background: url("../../assets/bg.jpeg") center center/cover no-repeat;

    -webkit-box-shadow: -5px 0px 10px -5px rgba(34, 60, 80, 0.2) inset;
    -moz-box-shadow: -5px 0px 10px -5px rgba(34, 60, 80, 0.2) inset;
    box-shadow: -5px 0px 10px -5px rgba(34, 60, 80, 0.2) inset;
}

#login:focus {
    outline: 1px solid black;
    outline-offset: 0.2rem;
}