.info {
    background: #0284c7;
}

.success {
    background: #16a34a;
}

.error {
    background: #dc2626;
}

.animated-element {
    opacity: 0;
    transform: translateX(100%);
    animation: slideFromRight 1s forwards;
}

@keyframes slideFromRight {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.animated-element_out {
    opacity: 1;
    transform: translateX(0);
    animation: slideInOut 2s forwards;
}

@keyframes slideInOut {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    50% {
        opacity: 1;
        transform: translateX(-50%);
    }
    100% {
        opacity: 0;
        transform: translateX(-100%);
    }
}